extends ../layouts/main-layout.pug


block content
  main
    if products.length > 0
      ul
        each productLine in products
          li
            p
              = productLine.product.title
              = ` (${productLine.qty})`

            form(action="/cart-delete-item", method="post")
              input(type="hidden", name="productId" value=productLine.product.id)
              button(type="submit" class="btn") Delete


    else
      h1 No Products in Cart!