extends ../layouts/main-layout.pug


block content
  main
    if products.length > 0
      ul.cart__item-list
        each product in products
          li.cart__item
            p
              = product.title
              = ` (${product.cartItem.quantity})`

            form(action="/cart-delete-item", method="post")
              input(type="hidden", name="productId" value=product.id)
              button(type="submit" class="btn") Delete


    else
      h1 No Products in Cart!